.ingredient {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  cursor: pointer;
}

.ingredient__price {
  display: flex;
  align-items: center;
  gap: 8px;
}

.ingredient__name {
  min-height: 48px;
  text-align: center;
}

.ingredient__counter {
  position: absolute;
  right: 12px;
  top: 0;
}
