.forgot_password {
  position: absolute;
  top: 88px;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.forgot_password__form {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.forgot_password__footer {
  display: flex;
  align-items: center;
  gap: 8px;
}

.forgot_password__link {
  color: var(--interface-accent);
  cursor: pointer;
}
