.constructor {
  display: flex;
  flex-direction: column;
  height: auto;
  width: 600px;
  box-sizing: border-box;
}

.constructor__container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow: hidden;
}

.constructor__element {
  cursor: pointer;
  flex: 1;
}

.constructor__element_locked {
  flex-grow: 0;
}

.constructor__list {
  max-height: calc(
    5 * var(--constructor-element-height) + 4 * var(--constructor-elements-gap)
  );
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
  list-style: none;
  margin: 0;
  padding-left: 0;
}

.constructor__order {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.constructor__currency {
  width: 36px;
  height: auto;
}

.constructor__empty {
  border: 2px dashed var(--modal-border);
  padding: 20px;
  transition: 0.2s;
}

.constructor__empty_hover {
  border: 2px dashed var(--dark-grey);
}

.fadeEnter {
  opacity: 0.01;
}

.fadeEnterActive {
  opacity: 1;
  transition: opacity 300ms ease-in;
}

.fadeExit {
  opacity: 1;
}

.fadeExitActive {
  opacity: 0.01;
  transition: opacity 70ms linear;
}

@media (max-height: 960px) {
  .constructor__list {
    max-height: calc(
      4 * var(--constructor-element-height) + 3 *
        var(--constructor-elements-gap)
    );
  }
}

@media (max-height: 870px) {
  .constructor__list {
    max-height: calc(
      3 * var(--constructor-element-height) + 2 *
        var(--constructor-elements-gap)
    );
  }
}

@media (max-height: 780px) {
  .constructor__list {
    max-height: calc(
      2 * var(--constructor-element-height) + var(--constructor-elements-gap)
    );
  }
}

@media (max-height: 690px) {
  .constructor__list {
    max-height: unset;
  }
}
