.reset_password {
  position: absolute;
  top: 88px;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.reset_password__form {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.reset_password__field svg {
  margin-left: 24px;
}

.reset_password__field p {
  margin-bottom: 0;
}

.reset_password__footer {
  display: flex;
  align-items: center;
  gap: 8px;
}

.reset_password__link {
  color: var(--interface-accent);
  cursor: pointer;
}
